<ion-app>
  <ion-menu side="start" contentId="main" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Job Board App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon slot="start" name="business" color="primary"></ion-icon>
            <ion-label color="primary">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/history">
            <ion-icon slot="start" name="checkbox-outline" color="primary"></ion-icon>
            <ion-label color="primary">History</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon slot="start" name="exit" color="primary"></ion-icon>
            <ion-label color="primary">Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id='main'></ion-router-outlet>
</ion-app>
