
.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

ion-list{
  background-color: var(--ion-color-light);
}

ion-card {
  background-color: var(--ion-color-medium);
  display: flex;
  flex: none;
  flex-grow: 2;
}

h1{
  font-size: 1.5em;
  font-weight: 700;
}

.title{
  color: var(--ion-color-dark);
  font-weight: 700;
}

ion-menu-button{
  border-radius: 50px;
  background-color: var(--ion-color-warning);
}

ion-icon{
  font-size:1.3em;
  padding: 6px;
  color: var(--ion-color-light);
}

ion-header{
  background-color: var(--ion-color-light);
}
